.idea
.pytest_cache
__pycache__
src/checkwarranty.egg-info
src/config.py
src/extended_warranty.xlsx
src/geckodriver.exe
src/geckodriver.log
logs.txt
src/update_warranty_db.bat
tests/data
tests/.coverage
tests/extended_warranty.xlsx
tests/test_excel_util.xlsx
Dump20210304
test order.txt